
.container {
    display: flex;
    justify-content: space-around;
}@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.container button{
    background-color: black;
    color: white;
}
#queroIr{
    background-color: #FB72B0;
    width: 14pc;
    height: 3pc;
    color: rgb(255, 255, 255);
    font-size: 1.2pc;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    position: relative;
    top: -3pc;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container #logo{
    width: 20pc;
    animation: pulsar 3s ease-in-out infinite;
    animation: cambalhota 1.5s ease-out forwards;

}
.container #homens{
   position: relative;
   top: -4pc;
   animation: pulsar 3s ease-in-out infinite;

}
}
@keyframes cambalhota {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    50% {
        transform: rotate(360deg) translateY(-100px);
    }
    100% {
        transform: rotate(0deg) translateY(0);
    }
}



