
.container {
    display: flex;
    justify-content: space-around;
}

.container button{
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container #logo{
    width: 20pc;
}
.container #homens{
   position: relative;
   top: -4pc;
}
}